<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCATION</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Education</h1><br>
    <div class="box8">
        <div class="UNI">
            <img src="/images/school.png" alt="" srcset="" width="80px" height="80px">
            <h2>University of Central Punjab</h2>
        </div><br>
        <div class="Degree">
            <img src="/images/degree.png" alt="" srcset="" width="80px" height="80px">
            <h2>Computer Science</h2>
        </div>
    </div>
</body>
</html>